[submodule "keyboard_publisher"]
	path = keyboard_publisher
	url = https://github.com/ut-ims-robotics/keyboard_publisher
[submodule "contact_control"]
	path = contact_control
	url = https://github.com/ut-ims-robotics/contact_control
[submodule "jog_arm"]
	path = jog_arm
	url = https://github.com/ut-ims-robotics/jog_arm
[submodule "majorana"]
	path = majorana
	url = https://github.com/ros-industrial-consortium/majorana.git
[submodule "netft_utils"]
	path = netft_utils
	url = https://github.com/UTNuclearRoboticsPublic/netft_utils.git
